/* Card styling */
.CoffeeCard {
  background-color: #fbf2c0;
  border: solid 3px #48392a;
  border-radius: 10px;
  width: 500px;
  padding: 25px;
  display: flex;
}

/* Image and description area */
.CoffeeCard .LeftSide {
  width: 100px;
  padding: 10px;
}

/* Placeholder content for the coffee image */
.CoffeeCard .LeftSide .CoffeeImage {
  width: 100px;
  height: 100px;
  background-color: #43281c;
  color: white;
}

/* Description below image */
.CoffeeCard .LeftSide .CoffeeDescription {
  margin-top: 10px; /* adjust as needed */
  color: #43281c;
  font-size: 16px;
  text-align: left;
}

/* Name and info area */
.CoffeeCard .RightSide {
  /* background-color: green; */
  margin-left: 30px;
}

.CoffeeCard .RightSide .CardHeader {
  display: flex;
}

/* Name of coffee on card */
.CoffeeCard .CoffeeName {
  color: #f96f5d;
  font-size: 40px;
}

/* Subtext below coffee name */
.CoffeeCard .CoffeeName .CoffeeSubtext {
  color: #c06e52;
  font-size: 17px;
  display: flex;
}

/* Area with the small and large info boxes */
.CoffeeCard .InfoBoxes {
  display: inline;
}

/* Area with the 4 small boxes */
.CoffeeCard .InfoBoxes .SmallBoxes {
  display: flex;
  margin-top: 10px;
}

/* Common style for all small boxes */
.CoffeeCard .InfoBoxes .SmallBoxes .InfoBox {
  padding: 10px;
  border: solid 2px #43281c;
  background-color: whitesmoke;
  margin: 0 auto;
  max-width: 50px;
  margin-right: 10px;
}

/* Set properties for box 1 */
.CoffeeCard .InfoBoxes .one {
  /* background-color: red; */
}

/* Set properties for box 2 */
.CoffeeCard .InfoBoxes .two {
  /* background-color: green; */
}

/* Set properties for box 3 */
.CoffeeCard .InfoBoxes .three {
  /* background-color: yellow; */
}

/* Set properties for box 4 */
.CoffeeCard .InfoBoxes .four {
  /* background-color: purple; */
}

/* Large info box */
.CoffeeCard .InfoBoxes .LargeBox {
  padding: 10px;
  border: solid 2px #43281c;
  background-color: whitesmoke;
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
  margin-bottom: 10px;
}

/* Prevent text in large box from affecting layout and size of other elements */
.CoffeeCard .InfoBoxes .LargeBox .LargeBoxText {
  max-width: fit-content;
}

/* CoffeeSelect */

.CoffeeSelect {
  margin-right: 20px;
}

/* these should be circles */
.CoffeeSelect .CoffeeIcon {
  border: solid 2px black;
  border-radius: 100px;
  margin-top: 30px;
  display: inherit;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
